
.card {
  margin: 20px;
  width: 300px;

  .card-header {
    background-color: #f8f9fa;
    font-weight: bold;
  }

  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 10px;

    &:nth-child(odd) {
      background-color: #f8f9fa;
    }

    div {
      flex: 1;
    }
  }
}
