
@import '~bootstrap/scss/bootstrap';

div {
  margin: 20px;
}

h2 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: $body-color;
  border-collapse: collapse;
  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid $table-border-color;
  }
  th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $table-bg-color;
      }
    }
  }
}
