
.container {
  margin-top: 20px;
}

h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 300px;
}

.btn-primary {
  margin-top: 20px;
}
