
@import '~bootstrap/scss/bootstrap';

.container {
  margin-top: 20px;
}

h1 {
  margin-bottom: 20px;
}

.card {
  width: 100%;
}

.card-text {
  margin-bottom: 10px;
}

.btn {
  margin-top: 10px;
}
