
@import '~bootstrap/scss/bootstrap';

.form-group {
  margin-bottom: 1.5rem;

  label {
    font-weight: bold;
  }

  textarea.form-control {
    resize: vertical;
  }
}

button[type='submit'] {
  margin-top: 1rem;
}
