
@import '~bootstrap/scss/bootstrap';

.dropdown {
  margin-right: 10px;

  .dropdown-toggle {
    width: 200px;
    text-align: left;
  }

  .dropdown-menu {
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
  }
}
